homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude 
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation


  # metric for Metric, imperial for Imperial
  unit_system: imperial
  time_zone: America/Chicago

  # Customization file
  customize: !include customize.yaml

zone:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  radius: 150
  icon: mdi:home

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:
  ignore:
    - axis

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:


# Text to speech
tts:
  - platform: google

switch:
  - platform: doorbird
    switches:
      - light_on
      - open_door


nest:
  client_id: !secret nest_id
  client_secret: !secret nest_key
  sensors:
    monitored_conditions:
      - 'co_status'
      - 'smoke_status'
      - 'battery_health'
  binary_sensors:
    monitored_conditions:
      - 'online'

tesla:
  username: !secret tesla_username
  password: !secret tesla_password
  scan_interval: 300

#lutron_caseta:
#    host: 192.168.200.58

doorbird:
  host: 192.168.200.128
  username: !secret doorbird_username
  password: !secret doorbird_password

logger: !include logger.yaml
binary_sensor: !include binary_sensor.yaml
media_player: !include media_player.yaml
device_tracker: !include device_tracker.yaml
sensor: !include sensor.yaml
camera: !include camera.yaml
image_processing: !include image_processing.yaml
light: !include light.yaml
climate: !include climate.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
